GITHUB_CLIENT_ID=Ov23liWnmx6OONvhuIG1
GITHUB_CLIENT_SECRET=50bf2b4b87085a0b703153382679557f660997df
STATE_JWT_SECRET=replace_me
SESSION_JWT_SECRET=replace_me_too
BACKEND_URL=http://localhost:3000
PORT=3000
